/*=====RESPONSIVE DESIGN !=====*/

/*=====5000 px=====*/
@media screen and (max-width: 5000px) {
        #container {
                width: 1360px;
                margin: auto;
        }

        .tie {
                width: 1280px;
                margin: auto;
        }
}

/*=====1280 px=====*/
@media screen and (max-width: 1280px) {
        #container {
                width: 100%;
        }

        .tie {
                width: 100%;
                padding: 0 25px;
        }
}

/*=====840 px=====*/
@media screen and (max-width: 840.98px) {

        #header .header-wrapper,
        #biography .biography-wrapper,
        #service .service-wrapper,
        #latest-work .latest-work-wrapper {
                grid-template-columns: 1fr;
                grid-gap: 50px;
        }

        #header .header-item2 img,
        #biography .biography-item1 img {
                width: 70%;
                margin: auto;
        }
}

/*=====575 px=====*/
@media screen and (max-width: 575.98px) {
        body {
                font-size: 7px;
        }

        #testimonial .message {
                padding: 50px;
        }
}

/*=====480 px=====*/
@media screen and (max-width: 480.98px) {
        body {
                font-size: 7px;
        }
}

/*=====320 px=====*/
@media screen and (max-width:320.98px) {
        #testimonial .message {
                padding: 10px;
        }
}

/*=====240 px=====*/
@media screen and (max-width:240.98px) {

        #header,
        #biography,
        #service,
        #latest-work,
        #testimonial {
                padding: 50px 0;
        }

        #testimonial .message {
                padding: 0px;
        }
}